@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");

@font-face {
  font-family: Freizeit;
  src: url("/public/assets/FreizeitTrialVF.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  width: 100vw;
  overflow-x: hidden;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.bg-body {
  background-color: #fff;
  overflow-y: auto;
}

.bg-body-chat {
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
}

.user-message {
  display: flex;
  align-items: baseline;
  gap: 12px;
  color: #1e293b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-image {
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-style {
  border-radius: 4px;
  border: 1px solid #e2e8f0;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 16px 10px 10px;
  width: 100%;
}

.input-style:focus-visible {
  border: 1px solid #94a3b8;
  outline: #94a3b8;
}

.send-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 16px;
  top: 10px;
}

.sample-bubble {
  max-width: 254px;
  min-height: 83px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.sample-bubble span {
  color: #1e293b;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bubbles-wrapper {
  display: flex;
  gap: 12px;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.main-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: "Freizeit", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main-description {
  color: #0f172a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 48px;
}

.main-screen-bg {
  width: 100dvw;
  height: 100dvh;
  background: rgba(42, 42, 42, 0.5);
  backdrop-filter: blur(5.5px);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-screen {
  border-radius: 4px;
  background: #fff;
  width: 560px;
  height: 528px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 700px) {
    width: 100%;
    height: 100%;
  }
}

.main-screen-chat {
  display: grid;
  grid-template-rows: 10% 78.7% 10%;
  justify-content: unset;
  padding-bottom: 0;
}

.powered-by {
  position: absolute;
  right: -24px;
  bottom: 113px;

  @media screen and (max-width: 700px) {
    display: none;
  }

}

.button {
  border-radius: 2px;
  border: 1px solid #e2e8f0;
  background: #f9fafb;
  display: flex;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 5;
  height: 33px;
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}

.badge {
  border-radius: 30px;
  background: rgba(255, 54, 0, 0.05);
  box-shadow: 0px 5px 15px 0px #eaeaea;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  color: hsl(217, 33%, 17%);
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 0;
  padding-left: 0;
}

.list-item span {
  color: #1e293b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2px;
  margin-left: 2px;
}

.headline-text {
  display: flex;
  align-items: center;
}

.headline {
  font-family: "Freizeit", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.dropdown {
  border-radius: 4px;
  border: 1px solid #fff5f2;
  background: #fff;
  box-shadow: 0px 5px 15px 0px #eaeaea;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  gap: 12px;
}

.index-list {
  position: absolute;
  top: 135%;
  left: 0;
}

.profile-item-list {
  position: absolute;
  top: 135%;
  right: 0;
}

.profile-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.dropdown-list span {
  color: #475569;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
